# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib


# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile*
ui_*
*.exe
*.autosave
*-build-*
*object_script*


# Android

*/bin/*
*/.metadata/*
*classes.dex
*resources.ap_
*.apk
*jarlist.cache